.banner {
  background: linear-gradient(180deg, #302a2c 0%, #2a2f36 100%);
  .banner1 {
    background-image: url(./../img/mobile/bg-banner.png);
    background-position: center;
    background-size: 100% 95%;
    background-repeat: no-repeat;
    @include tablet {
      padding: 60px;
      background-size: cover;
      background-image: url(./../img/tablet/bg-banner.png);
    }
    @include desktop {
      background-image: url(./../img/desktop/bg-banner.png);
      height: 113vh;
      padding: 60px 100px 20px;
      background-size: 100%;
    }
    @include biggest-desktop {
      background-image: url(./../img/desktop/bg-banner1.png);
    }
    .banner-content {
      padding: 40px 20px 20px;
      @include tablet {
        padding: 0;
      }
      .content1 {
        @include tablet {
          display: none;
        }
        .logo {
          width: 75px;
        }
      }

      .content2 {
        margin-right: -20px;
        text-align: end;
        @include tablet {
          margin-right: -60px;
          display: flex;
          justify-content: space-between;
        }
        @include desktop {
          margin-right: -100px;
        }
        .img1 {
          margin-top: 60px;
          width: 85%;
          @include tablet {
            order: 2;
            width: 50%;
            margin: 0;
          }
          @include desktop {
            width: 70%;
          }
          @include biggest-desktop {
            width: 45%;
          }
        }
        .content-text {
          text-align: start;
          @include tablet {
            order: 1;
          }
          .slogan {
            color: #fff;
            margin: -115px 0 -12px 30%;
            width: 212px;
            font-size: 18px;
            font-weight: 700;
            @include tablet {
              margin: 0 0 -18px 30%;
              font-size: 21px;
              font-weight: 300;
            }
            @include desktop {
              margin: 0 0 -30px 30%;
              font-size: 35px;
              width: 286px;
            }
          }
          h1 {
            margin-bottom: 55px;
            @include tablet {
              margin: 0;
            }
            img {
              width: 75%;
              @include tablet {
                width: 81%;
              }
            }
          }
          .content3-1 {
            display: flex;
            justify-content: center;
            margin-bottom: 50px;
            margin-top: 30px;
            display: none;
            @include tablet {
              display: block;
              margin-bottom: 0;
            }
            img {
              width: 105px;
              @include desktop {
                width: 160px;
              }
              @include biggest-desktop {
                width: 230px;
              }
              &:nth-child(1) {
                margin: 0 -25px 0 0;
                @include desktop {
                  margin: 0 -40px 0 0;
                }
              }
              &:nth-child(5) {
                margin: 0 0 0 -25px;
                @include desktop {
                  margin: 0 0 0 -40px;
                }
              }
              &:nth-child(2),
              &:nth-child(3),
              &:nth-child(4) {
                margin: 0 -25px 0;
                @include desktop {
                  margin: 0 -40px 0;
                }
              }
            }
          }
          .content4-1 {
            padding-bottom: 1px;
            display: none;
            @include tablet {
              display: block;
            }
            .cta {
              text-align: center;
              display: flex;
              align-items: flex-end;
              justify-content: space-between;
              .btn-cta {
                position: relative;
                display: flex;
                flex-direction: column;
                align-items: center;
                @include tablet {
                  margin-right: -150px;
                }
                @include desktop {
                  margin-right: -190px;
                }
                @include biggest-desktop {
                  margin-right: -350px;
                }
                img {
                  width: 50px;
                  margin-bottom: 5px;
                  @include desktop {
                    width: 64px;
                  }
                  @include desktop {
                    width: 90px;
                  }
                }
                button {
                  background-color: #fff;
                  border-radius: 50px;
                  padding: 2px;
                  width: 230px;
                  color: red;
                  outline: none;
                  border: 0;
                  @include desktop {
                    font-size: 22px;
                  }
                  @include biggest-desktop {
                    font-size: 30px;
                    width: 310px;
                    padding: 7px;
                  }
                  &:hover {
                    background-color: #ccc;
                  }
                  &:focus,
                  &:focus-visible {
                    outline: none;
                    border: 0;
                  }
                }
              }
              .cta-text {
                @include desktop {
                  width: 600px;
                  text-align: center;
                }
                @include biggest-desktop {
                  margin-top: 75px;
                }
                a {
                  color: #fff;
                  font-weight: 700;
                  font-size: 23px;
                  @include biggest-desktop {
                    font-size: 35px;
                  }
                }
                p {
                  color: #fff;
                  font-weight: 300;
                  margin: 0;
                  @include desktop {
                    text-align: center;
                    font-size: 20px;
                  }
                  @include biggest-desktop {
                    font-size: 30px;
                  }
                }
              }
            }
          }
        }
      }
      .content3 {
        display: flex;
        justify-content: center;
        margin-bottom: 50px;
        @include tablet {
          display: none;
        }
        img {
          width: 130px;
          &:nth-child(2) {
            margin: 0 -50px 0;
          }
        }
      }
    }
    .content4 {
      padding-bottom: 1px;
      @include tablet {
        display: none;
      }
      .cta {
        text-align: center;
        .btn-cta {
          display: flex;
          margin-bottom: 10px;
          justify-content: center;
          gap: 10px;

          img {
            width: 30px;
          }
          button {
            background-color: #fff;
            border-radius: 50px;
            padding: 2px;
            width: 130px;
            color: red;
            outline: none;
            border: 0;
            &:hover {
              background-color: #ccc;
            }
            &:focus,
            &:focus-visible {
              outline: none;
              border: 0;
            }
          }
        }
      }
      a {
        color: #fff;
        font-weight: 700;
      }
      p {
        color: #fff;
        font-weight: 300;
      }
    }
  }
}
