.section1 {
  background-color: #1a2c40;
  padding: 20px;
  @include tablet {
    padding: 0 20px;
  }
  .content1 {
    width: 15%;
    display: block;
    margin-left: auto;
    @include tablet {
      display: none;
    }
  }
  .content2-3 {
    @include tablet {
      display: flex;
      align-items: center;
    }
    .content2 {
      img {
        margin-left: -20px;
        &.mobile {
          @include tablet {
            display: none;
          }
        }
        &.desktop {
          display: none;
          @include desktop {
            display: block;
          }
        }
      }

      h2 {
        font-weight: 600;
        color: #fff;
        font-size: 55px;
        @include desktop {
          font-size: 130px;
          margin-left: 40px;
          margin-top: -25px;
          letter-spacing: -7px;
        }
      }
    }
    .content3 {
      .clocks {
        display: flex;
        margin: 45px 0 35px;
        @include desktop {
          margin: 170px 0 35px;
        }
        &.mobile {
          @include tablet {
            display: none;
          }
        }
        &.tablet {
          display: none;
          @include tablet {
            display: block;
          }
        }
        img {
          width: 110px;
          @include tablet {
            width: 122px;
          }
          @include desktop {
            width: 157px;
          }
          &:nth-child(1) {
            margin-right: -20px;
          }
          &:nth-child(2),
          &:nth-child(3) {
            margin: 0 -20px;
          }
          &:nth-child(4) {
            margin-left: -20px;
          }
        }
      }
      .texts {
        @include desktop {
          margin-top: 100px;
        }
        img {
        }
        p {
          color: #fff;
          text-align: end;
          font-size: 28px;
          margin-top: -12px;
        }
      }
    }
  }
}
.section2 {
  background: #1a2c40;
  @include desktop {
    display: flex;
    background: linear-gradient(225deg, #1a2c40 66.3%, #a5c225 42%);
  }
  .content1 {
    padding: 30px 30px 0;
    @include desktop {
      order: 2;
      width: 41%;
    }
    .mobile {
      @include desktop {
        display: none;
      }
    }
    .desktop {
      display: none;
      @include desktop {
        display: block;
      }
    }
  }
  .content2 {
    background: linear-gradient(213deg, #1a2c40 49.99%, #a5c225 50%);
    @include desktop {
      background: none;
      order: 1;
      width: 59%;
    }
    .content2-1 {
      padding: 0 30px 10px 0;
      display: flex;
      gap: 10px;
      margin-top: 15px;
      align-items: flex-start;
      justify-content: center;
      @include desktop {
        margin-top: 60px;
      }
      .lol2 {
        p {
          color: #fff;
          font-weight: 600;
          letter-spacing: -1px;
          font-size: 23px;
          margin-right: 10px;
          margin-bottom: -30px;
          text-align: end;
          @include desktop {
            margin-right: 40px;
            font-size: 50px;
            margin-bottom: -80px;
          }
        }
        .img-we {
          width: 100px;
          @include desktop {
            width: 310px;
          }
        }
      }
      .desc {
        width: 180px;
        color: #fff;
        font-size: 14px;
        font-weight: 400;
        line-height: 18px;
        @include desktop {
          font-size: 31px;
          line-height: 39px;
          width: 407px;
        }
      }
    }
    .clocks {
      padding-bottom: 10px;
      display: flex;
      justify-content: center;
      gap: 15px;
      img {
        width: 127px;
        &.mobile {
          @include desktop {
            display: none;
          }
        }
        &.desktop {
          display: none;
          @include desktop {
            display: block;
          }
        }
        &:first-child {
          @include desktop {
            display: none;
          }
        }
        &:nth-child(2) {
          transform: rotate(-45deg);
        }
        &:last-child {
          @include desktop {
            width: 220px;
            transform: rotate(-31deg);
            width: 260px;
          }
        }
      }
    }
  }
}
.section3 {
  background-color: #000942;
  @include desktop {
    display: flex;
    justify-content: space-between;
  }
  .content1 {
    position: relative;
    img {
      &.mobile {
        @include desktop {
          display: none;
        }
      }
      &.desktop {
        display: none;
        @include desktop {
          display: block;
        }
      }
    }
    .logo-c {
      padding-left: 20px;
      position: relative;
      @include desktop {
        padding-left: 40px;
        position: absolute;
        top: 170px;
        left: 30px;
      }
      img {
        position: absolute;
        top: -50%;
        transform: translateY(-50%);
        width: 125px;
        @include desktop {
          position: static;
          width: 240px;
        }
      }
    }

    .content3-3 {
      display: none;
      margin-top: 20px;
      padding-bottom: 20px;
      @include desktop {
        position: absolute;
        bottom: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-left: 20px;
      }
      img {
        width: 63px;
        margin-bottom: 5px;
      }
      button {
        padding: 3px;
        width: 300px;
        border-radius: 50px;
        outline: none;
        border: 0;
        background-color: #a5c225;
        color: #fff;
        @include desktop {
          font-size: 25px;
        }
        &:focus {
          border: 0;
          outline: none;
        }
      }
    }
  }
  .content2 {
    margin-top: 85px;
    @include desktop {
      padding-right: 30px;
    }
    .clock-content {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 10px;
      @include desktop {
        display: block;
      }
      aside {
        &:first-child {
          display: flex;
          gap: 8px;
          @include desktop {
            gap: 45px;
            margin-bottom: 45px;
          }
          img {
            width: 90px;
            @include desktop {
              width: 200px;
            }
            &.mobile {
              @include desktop {
                display: none;
              }
            }
            &.desktop {
              display: none;
              @include desktop {
                display: block;
              }
            }
          }
        }
        &:last-child {
          display: flex;
          flex-direction: column;
          gap: 10px;
          @include desktop {
            flex-direction: row;
            gap: 45px;
          }
          img {
            width: 90px;
            @include desktop {
              width: 200px;
            }
            &.mobile {
              @include desktop {
                display: none;
              }
            }
            &.desktop {
              display: none;
              @include desktop {
                display: block;
              }
            }
          }
        }
      }
    }
  }
  .content3 {
    margin-top: 20px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @include desktop {
      display: none;
    }
    img {
      width: 35px;
      margin-bottom: 5px;
    }
    button {
      padding: 2px;
      width: 130px;
      border-radius: 50px;
      outline: none;
      border: 0;
      background-color: #a5c225;
      color: #fff;
      &:focus {
        border: 0;
        outline: none;
      }
    }
  }
}
